.logo{
    margin-top: 5%;
}
.login{
    position: absolute;
    width: 179px;
    height: 51px;
    left: 100px;
    top: 390px;

    background: #3A126C;
    border-radius: 13px;

}
.home{
    background-color: #FFDD00;
}